<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>a tornado of razorblades</title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
	<link href="/feed" rel="alternate" title="Primary Feed" type="application/atom+xml" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/">a tornado of razorblades</a></h1>
		<p>by adam @ heroku</p>
	</div>
</div>

<div id="content">
	<% posts.each do |post| %>
	<div class="post">
		<p class="date"><%= post[:created_at].strftime("%b") %><b><%= post[:created_at].strftime("%d") %></b></p>
		<h2 class="title"><a href="<%= post.url %>"><%= post[:title] %></a></h2>
		<p class="meta"><small><%= post.linked_tags %> | <a href="<%= post.url %>#disqus_thread">comments</a></small></p>
		<div class="entry">
			<%= post.summary %>
			<% if post.more? %>
				<a href="<%= post.url %>">Continue reading &raquo;</a>
			<% end %>
		</div>
	</div>
	<% end %>

	<div id="older_posts">
		<a href="/past">Archive</a>
	</div>

	<% if admin? %>
		<div id="new_post"><a href="/posts/new"">New post</a></div>
	<% end %>
</div>

<script type="text/javascript">
//<[CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
	}
	document.write('<script type="text/javascript" src="http://disqus.com/forums/adamheroku/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

<div id="footer">
	<p id="legal">
	Content by Adam Wiggins | 
	Design adapted from <a href="http://www.freecsstemplates.org/preview/replenish">Replenish</a>
</div>
</body>
</html>
