<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>a tornado of razorblades</title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
	<link href="/feed" rel="alternate" title="Primary Feed" type="application/atom+xml" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="/">a tornado of razorblades</a></h1>
		<p>by adam @ heroku</p>
	</div>
</div>

<div id="page">
	<div id="content">
		<% posts.each do |post| %>
		<div class="post">
			<p class="date"><%= post[:created_at].strftime("%b") %><b><%= post[:created_at].strftime("%d") %></b></p>
			<h2 class="title"><a href="<%= post[:url] %>"><%= post[:title] %></a></h2>
			<p class="meta"><small><%= post[:tags] %> | <a href="#">No Comments &raquo;</a></small></p>
			<div class="entry">
				<%= post[:body] %>
				<% if post[:more?] %>
					<a href="<%= post[:url] %>">Continue reading &raquo;</a>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div id="footer">
	<p id="legal">
	Content by Adam Wiggins | 
	Design adapted from <a href="http://www.freecsstemplates.org/preview/replenish">Replenish</a>
</div>
</body>
</html>
